<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
  <listeners>
  <listener class-name="resources.listeners"></listener>
  <listener class-name="resources.ExtentReporterNG"></listener>
  </listeners>
    
  <test  name="UserCheckboxTest">
  <classes>
  <class name="hrm.userCheckBox"/>
  </classes>
  </test>
  
   <test  name="WebElementTest">
  <classes>
  <class name="hrm.webElement"/>
  </classes>
  </test>
  
  <test  name="homePageTest">
  <classes>
  <class name="hrm.homePage"/>
  </classes>
  </test>
  
  <test  name="dinamicDropdownsTest">
  <classes>
  <class name="hrm.dinamicDropdowns"/>
  </classes>
  </test>
  
  <test  name="framesTest">
  <classes>
  <class name="hrm.frames"/>
  </classes>
  </test>
  
  <test  name="actionsMethodsTest">
  <classes>
  <class name="hrm.actionsMethods"/>
  </classes>
  </test>
  
  <test  name="radioButtonsTest">
  <classes>
  <class name="hrm.radioButtons"/>
  </classes>
  </test>
  
  <test  name="loginPageTest">
  <classes>
 <class name="hrm.loginPage"/>
  </classes>
  </test>
    
  <test  name="windowHandlersTest">
  <classes>
  <class name="hrm.windowHandlers"/>
    </classes>
    </test>
    
  <test  name="calendarsTest">
  <classes>
  <class name="hrm.calendar"/>
    </classes>
    </test>
  
   <test  name="linksHandlong">
  <classes>
  <class name="hrm.linksHandlong"/>
    </classes> 
  </test> <!-- Test -->

</suite> <!-- Suite -->
