<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="hrm.userCheckBox"/>
      <class name="hrm.webElement"/>
      <class name="hrm.homePage"/>
      <class name="hrm.dinamicDropdowns"/>
      <class name="hrm.frames"/>
      <class name="hrm.actionsMethods"/>
      <class name="hrm.radioButtons"/>
      <class name="hrm.loginPage"/>
      <class name="hrm.windowHandlers"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
